name: Docker Image CI master

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        id: build-image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: 'mr-do-snapserver/Dockerfile'
          platforms: linux/amd64
          push: false
          load: true
          tags: tmpsnapserver:latest

      - name: List Docker images
        run: docker images

      - name: Extract Snapcast version
        id: get-version
        run: |
          VERSION=$(docker run --rm tmpsnapserver:latest snapserver -v | awk 'NR==1 {print $2}' | sed 's/^v//')
          echo "snapserver_version=$VERSION" >> $GITHUB_ENV
          echo "snapserver Version: $VERSION"

      - name: Build and push mr-do-snapserver
        uses: docker/build-push-action@v4
        with:
          context: .
          file: 'mr-do-snapserver/Dockerfile'
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/mr-do-snapserver:latest
            ${{ secrets.DOCKER_USERNAME }}/mr-do-snapserver:${{ env.snapserver_version }}
